In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("college_salary_report.csv")

In [3]:
data.head()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$97,500","$212,500",61%
1,2,Operations Research & Industrial Engineering,Bachelors,"$98,300","$191,800",21%
2,3,Interaction Design,Bachelors,"$74,700","$173,600",54%
3,4,Applied Economics and Management,Bachelors,"$76,500","$164,400",54%
4,5,Building Science,Bachelors,"$69,000","$163,100",47%

In [4]:
data.isnull().sum()

Rank                0
Major               0
Degree Type         0
Early Career Pay    0
Mid-Career Pay      0
% High Meaning      0
dtype: int64

In [5]:
data.duplicated().sum()

0

In [6]:
data.columns

Index(['Rank', 'Major', 'Degree Type', 'Early Career Pay', 'Mid-Career Pay',
       '% High Meaning'],
      dtype='object')

In [28]:
data['Early Career Pay'].nunique()

319

In [29]:
data.shape

(674, 6)

In [40]:
copied_data = data.copy()

In [41]:
copied_data.head()

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$97,500","$212,500",61%
1,2,Operations Research & Industrial Engineering,Bachelors,"$98,300","$191,800",21%
2,3,Interaction Design,Bachelors,"$74,700","$173,600",54%
3,4,Applied Economics and Management,Bachelors,"$76,500","$164,400",54%
4,5,Building Science,Bachelors,"$69,000","$163,100",47%

In [58]:
copied_data['Early Career Pay'] = copied_data['Early Career Pay'].str.split('$').map(lambda x:int(x[-1].replace(',','')))

In [60]:
copied_data['Mid-Career Pay'] = copied_data['Mid-Career Pay'].str.split('$').map(lambda x:int(x[-1].replace(',','')))

In [78]:
import numpy as np
copied_data['% High Meaning'] = copied_data['% High Meaning'].replace('-',np.nan)

In [83]:
copied_data.isnull().sum()

Rank                 0
Major                0
Degree Type          0
Early Career Pay     0
Mid-Career Pay       0
% High Meaning      50
dtype: int64

In [85]:
copied_data = copied_data.dropna()

In [86]:
copied_data.isnull().sum()

Rank                0
Major               0
Degree Type         0
Early Career Pay    0
Mid-Career Pay      0
% High Meaning      0
dtype: int64

In [88]:
copied_data['% High Meaning'] = copied_data['% High Meaning'].str.split('%').map(lambda x: int(x[0]))

In [90]:
copied_data.dtypes

Rank                 int64
Major               object
Degree Type         object
Early Career Pay     int64
Mid-Career Pay       int64
% High Meaning       int64
dtype: object

In [97]:
copied_data.groupby(by=['Major'])[['Early Career Pay', 'Mid-Career Pay','% High Meaning']].mean().sort_values(by=['Early Career Pay'], ascending=False)

,Early Career Pay,Mid-Career Pay,% High Meaning
Major,,,
Physician Assistant Studies,109600.0,136500.0,83.0
Operations Research & Industrial Engineering,98300.0,191800.0,21.0
Petroleum Engineering,97500.0,212500.0,61.0
Nuclear Engineering Technology (NET),92500.0,122800.0,54.0
Operations Research,92200.0,160000.0,57.0
...,...,...,...
Early Childhood Education,41700.0,50600.0,77.0
Child & Family Studies,41600.0,52700.0,73.0
Rehabilitation Services,41300.0,67600.0,74.0
Equine Studies,40300.0,52500.0,50.0
Painting & Printmaking,39300.0,82600.0,46.0

In [98]:
copied_data.groupby(by=['Major'])[['Early Career Pay', 'Mid-Career Pay','% High Meaning']].mean().sort_values(by=['Early Career Pay'], ascending=True)

,Early Career Pay,Mid-Career Pay,% High Meaning
Major,,,
Painting & Printmaking,39300.0,82600.0,46.0
Equine Studies,40300.0,52500.0,50.0
Rehabilitation Services,41300.0,67600.0,74.0
Child & Family Studies,41600.0,52700.0,73.0
Early Childhood Education,41700.0,50600.0,77.0
...,...,...,...
Operations Research,92200.0,160000.0,57.0
Nuclear Engineering Technology (NET),92500.0,122800.0,54.0
Petroleum Engineering,97500.0,212500.0,61.0
Operations Research & Industrial Engineering,98300.0,191800.0,21.0
Physician Assistant Studies,109600.0,136500.0,83.0